<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>Weather App</h1>
        <form action="/" method="post">
            <input type="text" name="city" id="city" placeholder="Enter a city">
            <button type="submit" id="search">Search</button>
        </form>
        <div id="weather">
            <h2><%=city%></h2>
            <p>
                Temperature: <%=Temperature%>
                <br>
                Humidity: <%=Humidity%>
                <br>
                Wind Speed: <%=wind_speed%> m/s
                <br>
                weatherDescription: <%=weatherDescription%>
                <br>
            </p>
            <img src= <%=img_url%> alt="img">
        </div>
    </div>
</body>
</html>